<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
    <div class="panel-body">

        <h4>
            <small>First name:</small>
            <%= @person.first_name %>
        </h4>

        <h4>
            <small>Last name:</small>
            <%= @person.last_name %>
        </h4>

        <h4>
            <small>Email:</small>
            <%= @person.email %>
        </h4>
    </div>
    <div class="panel-footer">
        <%= link_to 'Edit Person', edit_person_path(@person), class: 'btn btn-primary btn-md' %>
        <%= link_to 'Back', people_path, class: 'btn btn-default btn-md' %>
    </div>
</div>