<%= form_for(student_course) do |f| %>
    <% if student_course.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(student_course.errors.count, "error") %> prohibited this student_course from being
                saved:</h2>

            <ul>
                <% student_course.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <div class="form-group">
            <%= f.label :person_id %>
            <%= collection_select(:student_course, :person_id, Person.all, :id, :name_with_initial, {}, {:class=>'form-control'}) %>
        </div>
    </div>

    <div class="field">
        <div class="form-group">
            <%= f.label :course_id %>
            <%= collection_select(:student_course, :course_id, Course.all, :id, :title, {}, {:class=>'form-control'}) %>
        </div>
    </div>

    <div class="actions">
        <%= f.submit :class => 'btn btn-md btn-primary pull-right' %>
    </div>
<% end %>
