<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
    <div class="panel-heading">
        Student Courses
    </div>
    <div class="panel-body">
        <%= link_to 'New Student Course', new_student_course_path, class: 'btn btn-success btn-md pull-right' %>
    </div>
    <section id="Table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Person</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <% @student_courses.each do |student_course| %>
                <tr>
                    <td><%= link_to student_course.person.name_with_initial, person_path(student_course.person.id) %></td>
                    <td><%= link_to student_course.course.title, course_path(student_course.course.id) %></td>
                    <td>
                        <%= link_to 'Show', student_course, class: 'btn btn-default btn-sm' %>
                        <%= link_to 'Edit', edit_student_course_path(student_course), class: 'btn btn-primary btn-sm' %>
                        <%= link_to 'Destroy', student_course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </section>
</div>
